/* Additional stuff idk*/

:root {
  --lightgrey1: #c3c3c3;
  --lightgrey: #aeabab;
  --lightgrey3: #8f8f8f;
  --lightgrey4: #bfbcbc;
  --lightgrey5: #d9d9d9;
  --darkgrey1: #272525;
  --darkgrey2: #191919;
  --darkgrey3: #a6a6a6;
  --darkgrey4: #313131;
  --darkgrey5: #575757;
  --darkgrey6: #414141;
  --lightBlue: #008ef3;
  --darkBlue: #012240;
  --orange: #ff5e00;
}

/* Main styling*/

* {
  font-family: poppins, sans-serif;
}

.paddingWrapper {
  margin: 0 15vw;
}

h2 {
  margin: 0;
}

/* Header styling */

.headerMaterial {
  text-align: center;
  background: url(../img/background.png);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexTitle {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: end;
  height: 80%;
}

.headerTitle h1 {
  font-size: 5rem;
  margin-bottom: 0;
}

.headerTitle p {
  color: var(--lightgrey1);
  font-size: 2rem;
}

.headerScroll {
  color: var(--lightgrey1);
  align-self: end;
  width: 100%;
}

.headerScroll p {
  font-size: 2rem;
}

.headerArrow {
  /* Reference: https://www.w3schools.com/howto/howto_css_arrows.asp */
  border: solid var(--lightgrey1);
  border-width: 0 0.2rem 0.2rem 0;
  display: inline-block;
  padding: 1rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  /* For later, add hover states and make arrow bigger or something */
}

.headerMaterial h1 {
  margin-top: 0;
}

.mainSection.headerMaterial {
  padding: 0;
}

/* nav bar */

nav {
  position: sticky;
  top: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272525;
}



.navTitle {
  background-color: rgba(0, 0, 0, 0);
  position: sticky;
  padding: 0.5rem;
  height: auto;
  top: 0;
  left: 5vw;
  width: 8vw;
}

/* Body Content */

.mainContainer {
  height: 100dvh; /*For mobile device scrolling */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.mainSection {
  padding-top: 5vh;
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  overflow: hidden;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0;
}

.part1,
.part2,
.part3,
.part4 {
  background-color: var(--darkgrey2);
}

.part5,
.part6,
.part7 {
  background-color: var(--darkgrey4);
}

.part1 h2,
.part2 h2 {
  color: white;
  font-size: 4rem;
  font-style: italic;
}

.titleBlue {
  color: var(--lightBlue);
  text-decoration: none;
}

.titleBlueLink {
  color: var(--lightBlue);
  text-decoration: underline;
}

.part1 p,
.part2 p {
  font-size: 2.5rem;
  color: var(--darkgrey3);
}

.part3 h2,
.part4 h2,
.part5 h2,
.part6 h2,
.part9 h2,
.part9a h2,
.part10 h2,
.part10a h2,
.part11 h2,
.part11a h2 {
  font-size: 3.5rem;
  color: white;
}

.part4 p,
.part5 p,
.part6 p {
  font-size: 2.5rem;
  color: var(--darkgrey3);
}

.part9,
.part9a,
.part10,
.part10a,
.part11,
.part11a {
  background-color: var(--darkBlue);
}

.part9 h3,
.part9a h3,
.part10 h3,
.part10a h3,
.part11 h3,
.part11a h3 {
  color: white;
  font-size: 2rem;
}

.visualizationContent p,
.visualizationDescription p {
  font-size: 2.5rem;
  color: var(--lightgrey4);
}

.divider {
  border-radius: 1rem;
  margin: 10rem 5vw 5rem 5vw;
  width: 90%;
  background-color: var(--gray-3);
  height: 0.5rem;
}

figcaption {
  font-style: italic;
  color: var(--lightgrey3);
  max-width: 90%;
  margin: auto;
}

a {
  color: #ffffff;
}

/*mainsection 2*/

.part2 {
  overflow: hidden;
}

.part2 picture {
  display: block;
  width: 55vw;
  margin: auto;
  margin-top: 5vh;
  padding: 1rem;
  background-color: var(--lightBlue);
  border-radius: 0.5rem;
}

.part2 img {
  width: 100%;
  max-height: 45dvh;
}

/*mainSection 3*/

.mainSection.part3 {
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#crunchyroll-subscriptions {
  width: 100%;

  /* This content should not be Vh, the js should adjust for the screen size*/
  /* height: 60vh; */
  height: auto;
}

.part3 h2 {
  text-align: center;
  font-size: 2rem;
}

.part3 p {
  font-size: 1.25rem;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  max-width: 60%;
  color: var(--darkgrey3);
}

.part3 .titleBlue {
  font-weight: 500;
}

/*mainSection 4*/

.part4 {
  display: flex;
  justify-content: center;
}

.part4 figure {
  width: 100%;
  min-height: 50vh;
  height: auto;
}

.part4 h2 {
  margin-bottom: 5vh;
}

.part4 h3 {
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  max-width: 80%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.part4 p {
  max-width: 80%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-style: normal;
  margin-top: 5rem;
}

.pieChartComparison {
  margin: auto;
  height: 60vh;
  width: 50vw;
  color: white;
  background-color: white;
}

/*mainSection 5*/
.part5 .paddingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.part5 h3 {
  margin-top: 10vh;
  font-size: 2.5rem;
  color: white;
  font-weight: 300;
}

.part5 a {
  margin: 1rem;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
}

/*dataset stats*/

.visNumbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.visStats {
  background-color: var(--darkgrey5);
  min-width: 20rem;
  height: auto;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.visStats h3 {
  font-weight: 500;
  font-size: 5rem;
  margin: 0;
  width: 100%;
}

.visStats p {
  font-size: 2.25rem;
  margin: 0;
  width: 100%;
}

/*Mainsection 6*/

.mainSection.part7 {
  padding-top: 0;
  overflow:hidden;
}

.part7 .paddingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
  height: 100%;
  padding-top: 0;
  overflow: hidden;
}

/* Data cleaning tree */

.part7 .downArrow {
  margin-bottom: 1rem;
  border-color: white;
  padding: 0.5rem;
}

.details,
.processStart,
.processEnd {
  border-radius: 0.5rem;
  background-color: var(--darkgrey5);
  max-width: 30rem;
  text-align: center;
}

.details {
  font-size: 1.4rem;
  transition: background-color 0.3s ease-in-out;
}

.details:hover {
  cursor: pointer;
  background-color: var(--darkgrey3);
  transition: background-color 0.3s ease-in-out;
}

.detailsContent {
  font-size: 1.1rem;
}

.processStart,
.processEnd {
  padding: 1.5rem;
  font-size: 1.5rem;
}

.detailsSummary {
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 80%;
  margin: auto;
}

.detailsContent {
  padding: 0.5rem 10% 0.5rem 10%;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: var(--darkgrey6);
  text-align: left;
  max-width: 80%;
}

.processStart {
  background-color: var(--orange);
}

.processEnd {
  background-color: var(--lightBlue);
}

/*Part 8 */
.part8 {
  background-color: var(--lightgrey3);
  padding-top: 0;
}

.part8 h2 {
  color: white;
  font-size: 4rem;
  line-height: 6rem;
}

.part8 .paddingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.part8 h2 {
  text-align: center;
}

/*Part 9 */

/*Details/Section content */

.downArrow {
  /* Reference: https://www.w3schools.com/howto/howto_css_arrows.asp */
  border: solid black;
  border-width: 0 0.2rem 0.2rem 0;
  display: inline-block;
  padding: 1rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  /* For later, add hover states and make arrow bigger or something */
}

/* Visualization styling */

#scatterPlot {
  width: 100%;
  height: 100%;
}

#animePieChart {
  width: 100%;
  height: auto;
}

#lineChart {
  width: 100%;
  height: 100%;
}

#brands-vis {
  width: 100%;
  height: auto;
  /* min-height: 50vh; */
}

/* Visualization labels */

label {
  color: white !important;
}

select {
  color: white !important;
  background-color: var(--lightBlue) !important;
  border: 2px solid white !important;
  border-radius: 10px !important;
  padding: 4px 8px !important;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url('../img/arrow.png');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 10px auto  
}

option {
  background-color: white;
  color: black;
}

input[type='text'] {
  color: white !important;
  background-color: var(--lightBlue) !important;
  border: 2px solid white !important;
  border-radius: 10px !important;
  padding: 4px 8px;
}

/*2nd vis styling */

.vega-bindings {
  background-color: var(--lightBlue);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0.75rem;
  width: auto;
}

.vega-bindings:empty {
  display: none !important;
}

.vega-bind {
  display: block;
  margin: 0 1rem;
}

.vega-bind label {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.vega-bind-name {
  font-size: 1.3rem;
  font-weight: 500;
}

/*3rd vis styling */

#controls {
  background-color: var(--lightBlue);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#controls label {
  font-weight: 500;
  margin: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 15rem;
}

svg {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

  #animeSearchInput, .part11a select {
    width: 10rem;
    height: 2rem;
  }

/* Button things */

.backButton {
  align-self: flex-start;
  justify-self: flex-start;
  margin: 1rem 1rem 1rem 0;
}


.backButton a {
  text-decoration: none;
  padding: 0.5rem;
  background-color: var(--lightBlue);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 0.5rem;
  font-size: 2rem;
  color: white;
  margin: 1rem 1rem 1rem 0;
}

.backButton a:hover{
  transition: background-color 0.3s ease-in-out,  color 0.3s ease-in-out;
  background-color: white;
  color: var(--darkgrey1)
}

/* Responsiveness ---------------------------------------------------- */

@media (max-width: 107.75rem) {
  .visStats h3 {
    font-size: 5rem;
  }
  .visStats p {
    font-size: 1.75rem;
  }
  .visStats {
    height: 10rem;
  }

  .visStats {
    min-width: 17rem;
  }

  .visNumbers {
    gap: 1rem;
  }
}

@media (max-width: 87.75rem) {
  /* Part 5 stuff */

  .part5 h3 {
    margin-top: 2rem;
    font-size: 2.25rem;
  }

  .visStats h3 {
    margin-top: 0;
    font-size: 4rem;
    text-align: left;
  }
  .visNumbers {
    flex-direction: column;
  }

  .visStats {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 3rem;
    gap: 1rem;
    width: auto;
    min-width: auto;
    flex-direction: row;
  }

  .visStats h3,
  .visStats p {
    width: auto;
    display: inline-block;
  }

  .visStats p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  /* Main styling */

  .part1 h2,
  .part2 h2 {
    color: white;
    font-size: 4rem;
    font-style: italic;
  }

  .part1 p,
  .part2 p {
    font-size: 2rem;
    color: var(--darkgrey3);
  }

  .part4 h2,
  .part5 h2,
  .part6 h2,
  .part9 h2,
  .part9a h2,
  .part10 h2,
  .part10a h2,
  .part11 h2,
  .part11a h2 {
    font-size: 2.5rem;
  }

  .part4 p,
  .part5 p,
  .part6 p {
    font-size: 1.5rem;
  }

  .part9 h3,
  .part9a h3,
  .part10 h3,
  .part10a h3,
  .part11 h3,
  .part11a h3 {
    font-size: 2rem;
  }

  .visualizationContent p,
  .visualizationDescription p {
    font-size: 1.5rem;
  }

  .part8 h2 {
    font-size: 3.5rem;
  }

  .part2 picture {
    width: auto;
  }

  .part3 p {
    max-width: 100%;
  }

  .part4 p {
    max-width: 70%;
  }

  .detailsSummary {
    padding: 1rem;
  }
  .detailsContent {
    padding-left: 10%;
  }

  .part7 .downArrow {
    padding: 0.3rem;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 76.313rem) {
  .headerTitle h1 {
    font-size: 4rem;
  }
}

@media (max-width: 71.125rem) {
  #controls {
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media (max-width: 68.063rem) {
  .mainContainer {
    overflow-x: hidden;
  }

  .paddingWrapper {
    margin: 0 4rem;
  }

  /* Main styling */

  h1 {
    font-size: 4rem;
  }

  .part1 h2,
  .part2 h2 {
    font-size: 3rem;
  }

  .part1 p,
  .part2 p {
    font-size: 1.3rem;
  }

  .part3 h2,
  .part4 h2,
  .part5 h2,
  .part6 h2,
  .part9 h2,
  .part9a h2,
  .part10 h2,
  .part10a h2,
  .part11 h2,
  .part11a h2 {
    font-size: 2.25rem;
  }

  .part4 p,
  .part5 p,
  .part6 p {
    font-size: 1.5rem;
  }

  /*Part 1 */

  .headerTitle h1 {
    font-size: 4rem;
  }

  /* part 2 */

  .part2 img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .part2 picture {
    display: block;
    height: 100%;
    padding: 0.5rem;
  }

  /* part 3*/

  /* part 4 */

  /*
  figcaption {
    width: 90vw;
  }
  */

  .part4 p {
    width: auto;
  }

  .part4 h2 {
    margin: auto;
  }

  .part4 h3 {
    font-size: 1.5rem;
  }

  .visStats p {
    margin-bottom: 0.5rem;
  }

  /*part 5 */

  .part5 h3 {
    font-size: 2rem;
  }

  .visStats h3 {
    font-size: 3rem;
  }

  .visTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .part5 p {
    font-size: 1.4rem;
  }

  .visStats {
    padding: 1rem;
  }

  .visStats p {
    font-size: 1.2rem;
  }

  /* Part 7 */

  .processEnd,
  .processStart {
    padding: 1.2rem;
    font-size: 1.3rem;
  }

  .details {
    font-size: 1.3rem;
    max-width: 23rem;
  }

  .part8 h2 {
    font-size: 2.5rem;
    line-height: 4rem;
  }

  .detailsContent p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    
  }
}

@media (max-width: 52.5rem) {
  .part2 picture {
    margin-top: 3vh;
  }
  .part2 img{
    max-height: 40dvh;
  }
}

@media (max-width: 51rem) {
  /* part 2*/

  .part2 img {
  }

  /* part 5 */

  .part5 h2 {
    font-size: 2rem;
  }

  .part5 h3 {
    font-size: 1.5rem;
  }

  .part5 .visTitle {
    margin-top: 1rem;
  }

  .paddingWrapper.flexTitle {
    margin: 0 6rem;
  }

  .headerTitle h1 {
    font-size: 3rem;
  }

  .visStats h3 {
    font-size: 2rem;
  }

  .visStats p {
    margin-bottom: 0;
  }

  .part5 p {
    font-size: 1.3rem;
  }

  .visStats {
    gap: 0.5rem;
    padding: 0.7rem;
  }

  .part4 h3 {
    font-size: 1.1rem;
  }
}

@media (max-width: 58.625rem) {
  .vega-bind-name {
    font-size: 1rem;
  }

  .part10a select {
    font-size: 0.8rem;
  }

  .vega-bind {
    margin: 0;
  }

  .part9 h3,
  .part9a h3,
  .part10 h3,
  .part10a h3,
  .part11 h3,
  .part11a h3 {
    font-size: 1.6rem;
  }
}

@media (max-width: 43rem) {

  .part3 h2,
  .part4 h2,
  .part5 h2,
  .part6 h2,
  .part9 h2,
  .part9a h2,
  .part10 h2,
  .part10a h2,
  .part11 h2,
  .part11a h2 {
    font-size: 1.8rem;
  }


}

@media (max-width: 44rem) {
  /* Visualization labels */

  label {
    color: white !important;
  }

  select {
    color: white !important;
    background-color: var(--lightBlue) !important;
    border: 2px solid white !important;
    border-radius: 10px !important;
    padding: 4px 8px !important;
    
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url('../img/arrow.png');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 10px auto    
  }

  option {
    background-color: white;
    color: black;
  }

  input[type='text'] {
    color: white !important;
    background-color: var(--lightBlue) !important;
    border: 2px solid white !important;
    border-radius: 10px !important;
    padding: 4px 8px;
  }

  /*2nd vis styling */

  .vega-bindings {
    gap: 0.5rem;
  }

  .part10a .vega-bindings {
    justify-content: center;
    padding: 0.5rem 0.2rem;
  }

  .vega-bindings:empty {
    display: none !important;
  }

  .vega-bind {
    display: block;
  }


  .part10a .vega-bind-name {
    font-size: 1rem;
  }

  #lineChart label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  /*3rd vis styling */

  #controls {
    background-color: var(--lightBlue);
    border-radius: 0.5rem;
    padding: 1rem;
  }

  #controls label {
    font-weight: 500;
    margin: 0.25rem;
  }

}

@media (max-width: 40.563rem) {
  .visStats p {
    font-size: 1.1rem;
  }
}

@media (max-width: 37.813rem) {
  .headerTitle h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 35.563rem) {
  .paddingWrapper, .paddingWrapper.flexTitle {
    margin: 0 2rem;
  }

  /*some screens dont need this*/

  .part1 h2,
  .part2 h2 {
    font-size: 2rem;
  }
  .part3 h2,
  .part4 h2,
  .part5 h2,
  .part6 h2{
    font-size: 1.3rem;
    color: white;
  }

  .part4 p,
  .part5 p,
  .part6 p {
    font-size: 1.2rem;
  }

  .part9 h3,
  .part9a h3,
  .part10 h3,
  .part10a h3,
  .part11 h3,
  .part11a h3 {
    font-size: 1.3rem;
  }

  /*part 4*/

  .part4 h3 {
    margin: 0.5rem 0;
    font-size: 1rem;
    max-width: 100%;
  }

  /* part 5*/
  .part5 a {
    font-size: 1rem;
  }

  /*part 8 */

  .part8 {
    padding-top: 0;
  }
}

@media (max-width: 27.188rem) {
  /* Part 1*/

  .headerTitle p,
  .headerScroll p {
    font-size: 1.5rem;
  }

  .part1 p,
  .part2 p {
    font-size: 1.1rem;
  }

  /* part 3 */

  .part3 p {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  /*part 4*/

  /*part 5*/

  .part5 h3 {
    font-size: 1.5rem;
  }

  .part5 .visTitle {
    margin-bottom: 2rem;
  }

  .part5 p {
    font-size: 1.3rem;
  }

  .visStats h3 {
    font-size: 1.5rem;
  }

  .visStats {
    height: 2rem;
    padding: 0.7rem;
  }

  /*part 7*/

  .mainSection.part7 {
    padding-top: 0;
  }

  .details,
  .processStart,
  .processEnd {
    font-size: 1.1rem;
    max-width: 20rem;
  }

  .processStart {
    max-width: 15rem;
  }

  .processStart,
  .processEnd {
    padding: 1rem;
  }

  /*Part 8*/

  .part8 h2 {
    font-size: 2rem;
    line-height: 4rem;
  }

  .visualizationContent p,
  .visualizationDescription p {
    font-size: 1.5rem;
  }
}

@media (max-width: 28.688rem) {
  .headerTitle h1 {
    font-size: 2rem;
  }
}

@media (max-width: 27.188rem) {
  .part1 p,
  .part2 p {
    font-size: 1rem;
  }

  .part1 h2,
  .part2 h2 {
    font-size: 2rem;
  }

  /*part 1*/

  .headerTitle h1 {
    font-size: 2rem;
  }

  .headerTitle p,
  .headerScroll p {
    font-size: 1.3rem;
  }

  /* part 3 */

  .part3 p {
    margin-top: 1rem;
    font-size: 1rem;
  }

  /* part 5 */

  .part5 h2 {
    font-size: 1.3rem;
  }

  .part5 h3 {
    font-size: 1.2rem;
  }

  .part5 p {
    font-size: 1rem;
  }

  .visStats h3 {
    font-size: 1.5rem;
  }

  .part5 .visTitle {
    margin-top: 0;
  }

  .visStats {
    min-width: auto;
  }

  /* part 7 */

  .details,
  .processStart,
  .processEnd {
    font-size: 1rem;
  }

  /*part 8 */

  .part8 h2 {
    line-height: 3rem;
  }

  /* part 9 */

  .visualizationContent p,
  .visualizationDescription p {
    font-size: 1.3rem;
  }
}

@media (max-width: 38rem) {
  #lineChart {
    width: 98vw !important;
    margin-left: calc(-48vw + 50%) !important;
  }
  #lineChart .paddingWrapper,
  #lineChartWrapper {
    margin: 0 !important;
    padding: 0 !important;
  }

  #scatterPlot {
    width: 98dvw !important;
    margin-left: calc(-48dvw + 50%) !important;

  }
  #scatterPlot .paddingWrapper,
  #lineChartWrapper {
    margin: 0 !important;
    padding: 0 !important;
  }

  #crunchyroll-subscriptions {
    width: 98vw !important;
    margin-left: calc(-48vw + 50%) !important;
  }
  #crunchyroll-subscriptions .paddingWrapper,
  #lineChartWrapper {
    margin: 0 !important;
    padding: 0 !important;
  }

  #brands-vis {
    width: 98vw !important;
    margin-left: calc(-48vw + 50%) !important;
  }
  #brands-vis .paddingWrapper,
  #lineChartWrapper {
    margin: 0 !important;
    padding: 0 !important;
  }

  #controls {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  #controls label {
    display: flex;
  }

  #crunchyroll-subscriptions .paddingWrapper,
  #lineChartWrapper {
    margin: 0 !important;
    padding: 0 !important;
  }

  #animePieChart {
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #animeSearchInput {
    max-width: 95%;
  }

  #controls {
    margin: auto;
  }

  .part11a .paddingWrapper {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .part11a h3 {
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
  }

}

@media (max-width: 21.75rem) {
  .vega-bind-name {
    font-size: 0.8rem;
  }
}


.vega-bindings input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.375rem;
  border-radius: 3px;
  border: 2px solid #888; /* fallback border */
  display: inline-block;
  position: relative;
  cursor: pointer;
}

/* checkmark styling */
.vega-bindings input[type="checkbox"]::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 60%;
  top: 20%;
  left: 20%;
  display: none;
  background: white;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 0, 80% 0, 43% 62%);
}

.vega-bindings input[type="checkbox"]:checked::after {
  display: block;
}

.vega-bindings input[name='Action']      { background:#4C78A8; border-color:#4C78A8; }
.vega-bindings input[name='Adventure']   { background:#9ECAE9; border-color:#9ECAE9; }
.vega-bindings input[name='SciFi']       { background:#439894; border-color:#439894; }
.vega-bindings input[name='Comedy']      { background:#F58517; border-color:#F58517; }
.vega-bindings input[name='Drama']       { background:#FFBE79; border-color:#FFBE79; }
.vega-bindings input[name='Fantasy']     { background:#55A24B; border-color:#55A24B; }
.vega-bindings input[name='Horror']      { background:#88D27A; border-color:#88D27A; }
.vega-bindings input[name='Mystery']     { background:#B79A20; border-color:#B79A20; }
.vega-bindings input[name='Romance']     { background:#F2CF5C; border-color:#F2CF5C; }
.vega-bindings input[name='SliceOfLife'] { background:#83BCB6; border-color:#83BCB6; }
.vega-bindings input[name='Sports']      { background:#E45756; border-color:#E45756; }

.vg-tooltip {
  background-color: #008EF3 !important;
  color: white !important;
  border-radius: 0.5rem !important;   
  border: 0.125rem solid white !important; 
  padding: 0.5rem !important;   
  font-size: 0.7rem !important;          
}
.vg-tooltip table {
  color: white !important;
}
.vg-tooltip td,
.vg-tooltip th {
  color: white !important;
  padding: 0.1rem 0.1rem !important;  
}
.vg-tooltip .key {
  color: white !important;
  font-weight: bold !important;
}
.vg-tooltip .value {
  color: white !important;
}

